<header>
  <div class="header-logo">
    <a href="/">タスク管理アプリ</a>
  </div>
  <ul class="header-menus">
   <li>
      <a href="posts/index">タスク一覧</a>
    </li>
    <li>
      <a href="posts/new">新規タスク追加</a>
    </li>
  </ul>
</header>

<div class="main posts-index">
  <div class="container">

  <% @posts.each do |post| %>
    <div class="posts-index-item">
     <%= post.content %>
    </div>
    <% end %>
  </div>
</div>